<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.tsekiso.tsekiso"
    versionCode = "10"
    version     = "1.0.0" >

  <name>LsSoccer Zone</name>

  <description>
      Station hub .....
  </description>

  <author href="https://build.phonegap.com" email="tsekisoelliot1535@gmail.com">
      Tsekiso
  </author>
<preference name="SplashScreen" value="screen"/>
<preference name="SplashScreenDelay" value="3000"/>
</widget>